.mySwiperr .swiper-button-next::after {
    position: absolute;
    bottom: 42vh;
    right: 10vh;
    color: black;
}

.mySwiperr .swiper-button-prev::after {
    position: absolute;
    bottom: 42vh;
    left: 130vh;
    color: black;
}

.mySwiperr {
    width: 100%;
    height: 90vh;
}

.mySwiperr .catalog__items__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 6vh;
}

.pp__card {
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mySwiperr {
        height: fit-content;
    }

    .mySwiperr .catalog__items__container {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 2vh;
        padding: 0 15px;
        margin-left: -15%;
    }

    .pp__card {
        width: 100%;
        height: 200px;
        min-height: 400px;
        padding-bottom: 40px;
    }

    .mySwiperr .swiper-button-next::after,
    .mySwiperr .swiper-button-prev::after {
        display: none;
    }

    .sale {
       display: none;
    }

    .card__top {
        display: none;
    }

    .card__top__first,
    .card__top__second {
       display: none;
    }

    .price__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}